#demotext {
color: #FFF;
background-color: #000000;
text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
  text-align: center;
  font-size: 45px;
}
body{
background: #000000;
}

.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

img{
  height: 180px;
border-radius:50%;  
}
h4{
  background-color:#1f1e1e;
  text-shadow:#ffffff;
  font-size:20px;
}
#demotext2 {
color: #FFF;
background-color: #000000;
text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
  text-align: center;
  font-size: 45px;
}
body{
  text-align: center;
font-size: 20px;
background: #000000;
}
.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    
}

.links {
    float: left;
    color: White;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}
.links :hover {
    background-color:White;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    
}



.links {
    float: left;
    color: White;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

.links:hover {
    background-color: #595757;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


.article:hover {
    color:#080000;
}

#app{
  width: 100%;
  height: 800px ;
  background-color: ;
  
}
#welcome {

    position: absolute;
    height: 800px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    
}


#texto-simple {
    
   font-size:15px; 
   color:#FBF190;
    background-color: #000000;
     padding-bottom: 100px;
}
